<ion-view view-title="Découvrir">
  <ion-content class="padding">
    <h2 class="subtitles">Chat&Car</h2>
    <img src="img/decouvrir.png" class="iconDecouvrirPrincipale"/>
    <p class="categorieVoitures">Les voitures les plus aimées</p>
    <img src="img/ben.png" class="iconDecouvrir"/>
    <img src="img/max.png" class="iconDecouvrir"/>
    <img src="img/mike.png" class="iconDecouvrir"/>

    <p class="categorieVoitures">Les voitures tendances</p>
    <img src="img/ben.png" class="iconDecouvrir"/>
    <img src="img/max.png" class="iconDecouvrir"/>
    <img src="img/mike.png" class="iconDecouvrir"/>

    <p class="categorieVoitures">Les voitures phares</p>
    <img src="img/ben.png" class="iconDecouvrir"/>
    <img src="img/max.png" class="iconDecouvrir"/>
    <img src="img/mike.png" class="iconDecouvrir"/>

    <p class="categorieVoitures">Les voitures les moins aimées</p>
    <img src="img/ben.png" class="iconDecouvrir"/>
    <img src="img/max.png" class="iconDecouvrir"/>
    <img src="img/mike.png" class="iconDecouvrir"/>
  </ion-content>
</ion-view>
